mat-label{
    color: blueviolet;
}
.max-width{
    width: 100%;
    margin-bottom: 10px;
}
button{
    width: 100%;
    background-color: darkgrey;
}
button:hover{
    background-color: rgb(76, 87, 99);
}
mat-label{
    font-size: 18px;
    color: violet;
}